:root {
	color-scheme: light dark;
	--background-color: rgb(255, 255, 255);
	--border-color: rgba(128,128,128,0.25);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: rgb(28, 27, 33);
	}
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

body {
	font: 16px/24px sans-serif;
	background-color: var(--background-color);
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity ease-in-out 150ms;
}

#app[data-v-app] {
	opacity: 1.0;
}

.controls {
	flex: 0;
	border-bottom: 1px solid var(--border-color);
}

.main {
	flex: 1;
	display: flex;
	overflow: hidden;
}
