.tags-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tag {
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 3px 20px 3px 10px;
	border-radius: 15px;
	margin-right: 5px;
	font-size: 14px;
	background-color: #ddd;
	font-family: "Fira Code", monospace;
}

.green-tag {
	background-color: #afffca;
}

.red-tag {
	background-color: #ffafaf;
}

.blue-tag {
	background-color: #afcfff;
}