name: Build and upload to PyPI

on:
  push:
  pull_request:
  release:
    types:
      - published

jobs:
  build_frontend:
    name: Build frontend Javascript code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build frontend
        working-directory: frontend
        run: npm ci && npm run build

      - uses: actions/upload-artifact@v3
        with:
          name: frontend
          path: frontend/dist/

  build_sdist:
    needs: [build_frontend]
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3

      - uses: actions/download-artifact@v3
        with:
          name: frontend
          path: frontend/dist
      
      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v3
        with:
          name: sdist
          path: dist/*.tar.gz

  build_wheels:
    needs: [build_frontend]
    name: Build wheels
    runs-on: ubuntu-latest
    # name: Build wheels on ${{ matrix.os }}
    # runs-on: ${{ matrix.os }}
    # strategy:
    #   matrix:
    #     os: [ubuntu-latest, windows-2019, macos-13]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3

      - uses: actions/download-artifact@v3
        with:
          name: frontend
          path: frontend/dist

      - name: Build wheels
        run: python -m pip wheel -w wheelhouse .
      
    #   - name: Install cibuildwheel
    #     run: python -m pip install cibuildwheel==2.12.0

    #   - name: Build wheels
    #     run: python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: ./wheelhouse/*.whl

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: wheels
          path: dist

      - uses: actions/download-artifact@v3
        with:
          name: sdist
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
